<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<title>Cadastro da Solicitação</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/libfuncoes.js}"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script datatype="text/javascript">
		function deleta(obj, valor) {
			var coluna = $(obj).parents("tr").find("td:nth-child(" + valor + ")");
			// window.alert("Valor "+coluna.html());
			$('#XX').html(coluna.html())
		}

	</script>
	<style>
		.form-group {
			flex: 1 0 auto;
		}

		#teste {
			color: blue;
			background-color: silver;
			border: solid;


			font: bold;
			font-family: sans-serif;
			background-color: silver;
			border: solid;
		}
	</style>



</head>

<body>
	<div class="card-header bg-dark">
		<h5 style="color:white">Cadasto de Solicitações</h5>
	</div>

	<div class="card-body col-lg">

		<a class="input btn btn-primary" th:object="${soliunica}"
			th:href="@{'/alterarsolicitacao/'+${idsolicitacao}}">Alterar</a> <a class="input btn btn-success"
			th:href="@{/solicitacoes}">Sair</a> <br />
		<br /> <br />

		<form th:object="${soliunica}" class="row"  style="color:">

			<div class="form-group col-sm-6">
				<label id="teste" class="mr-sm-2">Id Solicitação:</label> <label id="id" class="mr-sm-2"
					th:text="*{idsolicitacao}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Usuário: </label> <label class="mr-sm-2" th:text="*{usuario.login}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Número do Processo: </label> <label class="mr-sm-2"
					th:text="*{processo?.numeroprocesso}"></label>

			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Autor: </label> <label class="mr-sm-2" th:text="*{processo?.parte}"></label>

			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Réu: </label> <label class="mr-sm-2" th:text="*{processo?.adverso}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Assunto: </label> <label class="mr-sm-2" th:text="*{processo?.assunto}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Cadastro: </label> <label class="mr-sm-2"
					th:text="*{processo?.cartorio}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Localização: </label> <label class="mr-sm-2"
					th:text="*{processo?.localizacao}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Comarca: </label> <label class="mr-sm-2"
					th:text="*{processo?.comarca.nome+' - '+processo?.comarca.uf.sigla}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Orgão: </label> <label class="mr-sm-2"
					th:text="*{processo?.numorgao +' - '+processo?.orgao.descricao }"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Correspoendente: </label> <label class="mr-sm-2"
					th:text="*{renumeracao.tipoSolicitacaoCorrespondente.correspondente.nome}"></label>
			</div><!-- Popper JS -->

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Tipo Solictação: </label> <label class="mr-sm-2"
					th:text="*{renumeracao.tipoSolicitacaoCorrespondente.tipoSolicitacao.especie+' - '+renumeracao.tipoSolicitacaoCorrespondente.tipoSolicitacao.tipo}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Envio: </label> <label class="mr-sm-2"
					th:text="*{enviosolicitacao?.tipoenvio}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Proposta de Acordo: </label> <label class="mr-sm-2"
					th:text="*{propostaacordo==true?'SIM':'NÃO'}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Grupo: </label> <label class="mr-sm-2" th:text="*{grupo}"></label>
			</div>

			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Data da Diligência/Audiência: </label> <label class="mr-sm-2" th:text="*{#calendars.format(datasolictacao,'dd/MM/yyyy  HH:mm')}"></label>
			</div>
			
			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Data Prazo da Diligência/Audiência: </label>
				<label class="mr-sm-2"
					th:text="*{#calendars.format(dataprazo,'dd/MM/yyyy  HH:mm')}"></label>
			</div>
			
			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Hora da Diligência/Audiência: </label> <label
					class="mr-sm-2" th:text="*{horaudiencia}"></label>
			</div>
			
			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Status do Correspondente: </label> <label
					class="mr-sm-2" th:text="*{statusexterno}"></label>
			</div>
			
			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Status Interno: </label> <label
					class="mr-sm-2" th:text="*{statusSolicitacao.status}"></label>
			</div>
			
			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Processo Eletrônico: </label> <label
					class="mr-sm-2"
					th:text="*{processo?.proceletronico=='E'?'SIM':'NÃO'}"></label>
			</div>
			
			<div class="form-group col-sm-6">
				<label class="mr-sm-2">Banca Responsável: </label> <label
					class="mr-sm-2" th:text="*{bancaProcesso?.banca}"></label>
			</div>

			<div class="form-group col-sm-6">
				
				<label class="mr-sm-2"> Instruções da Solicitação: </label> 
				<div  style="border: solid; border-color: black;">
				  <label		style="color: navy;" class="mr-sm-2" th:text="*{instrucoes}"></label>
			    </div>
				 
			</div>

			<div class="form-group col-sm-6 ">
				<label class="mr-sm-2"> Observação da Solicitação: </label>
				<div  style="border: solid; border-color: black;">
				  <label	style="color: navy;" class="mr-sm-2" th:text="*{observacao}"></label>
				 </div>
			</div>

		</form>
		<h5 style="font-family: Arial, Helvetica, sans-serif;">
			Histórico</h5>
			<div class="table-responsive">
				<div class="table-responsive">
					<table id="tb1"
						class="table table-bordered table-condensed table-striped table-hover"
						style="font-size: 12px;">
						<thead class="thead-dark">
							<tr>
								<th>ID HISTÓRICO</th>
								<th>DATA</th>
								<th>USUÀRIO</th>
								<th>TEXTO</th>
								<th>STATUS</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="hi : ${historico}">
								<td th:text="${hi.idhistorico}">1</td>
								<td th:text="${#calendars.format(hi.datahistorico,'dd/MM/yyyy  HH:mm')}">1</td>
								<td th:text="${hi.usuario.login}">2</td>
								<td th:text="${hi.textohistorico}">2</td>
								<td th:text="${hi.statusSolicitacao.status}">2</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<h5 style="font-family: Arial, Helvetica, sans-serif;">Arquivos
				Enviados e Recebidos</h5>

			<div class="table-responsive">
				<table id="tb2"
					class="table table-bordered table-condensed table-striped table-hover"
					style="font-size: 12px;">
					<thead class="thead-dark">
						<tr>
							<th>NOME DO ARQUIVO</th>
							<th>DATA</th>
							<th>USUÁRIO</th>
							<th>OPERAÇÃO</th>
							<th>LINK</th>
							<th>BAIXAR</th>
							<th>EXCLUIR</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="arq : ${arquivo}" id="tab1">
							<td
								th:text="${arq.solicitacaoPossuiArquivo.solicitacaoAnexo.nomearquivo}" id="nmarq">1</td>
							<td
								th:text="${#calendars.format(arq.solicitacaoPossuiArquivo.solicitacaoAnexo.datasolicitacao,'dd/MM/yyyy  HH:mm')}">1</td>
							<td
							   th:text="${arq.solicitacaoPossuiArquivo.solicitacaoAnexo.usuario?.login}" id="ss">1</td>
							<td
								th:text="${arq.solicitacaoPossuiArquivo.solicitacaoAnexo.operacao}">1</td>

							<td
								th:text="${arq.solicitacaoPossuiArquivo.solicitacaoAnexo.linkarquivo}">2</td>

							<td class="text-center"><a type="submit" data-toggle="modal"
								data-target="#modal1" class="btn btn-warning"><i
									class="fas fa-file-download"></i></a></td>

							<td class="text-center"><a type="submit" data-toggle="modal" id="btex" onclick="deleta(this,1);"
								data-target="#modal1" class="btn btn-danger"><i
									class="fas fa-trash-alt" ></i></a></td>
						</tr>


					</tbody>
				</table>
			</div>
			<!--Mostra o modal da alteração-->
			<div class="modal fade " id="modal1">
				<div class="modal-dialog modal-dialog-centered">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">

							<h4 class="modal-title" style="font-size: 20px;">EXCLUIR
								ARQUIVO</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<p>Deseja realmente excluir o arquivo?.</p>
							<h5 id="XX"></h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								data-dismiss="modal">Sair</button>
						</div>
					</div>

				</div>
			</div>
	</div>

	<script>
		$(function () {
			$("#datainicial").datepicker({
				dateFormat: 'dd/mm/yy'
			});
		});
		jQuery(function ($) {
			$.datepicker.regional['pt-BR'] = {
				showOn: 'button',
				buttonImage: 'images/calendar.png',
				buttonImageOnly: true,
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				nextText: 'Próximo',
				prevText: 'Anterior',
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['pt-BR']);
		});
	</script>
</body>

</html>