<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Cadastro de Usuários</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
<script>
	function pega() {
		esconde1("#sel1", "#cor1");
	}

	function copia() {
		copiavalor("#sel2", "#nome");
	}
</script>

</head>
<body>

		<div class="card-header bg-dark">
			<h5 style="color:white;">Cadastro de Usuários</h5>
		</div>
		<div class="card-body">

			<form th:object="${usuariounico}" action="/usuario/save" method="post" enctype="multipart/form-data">

				<div class="form-group col-xs-12">
					<div class="form-group">
						<label for="sel1">Tipo de Usuário</label>
						<select name="tipo"
							onChange="pega();" class="form-control" id="sel1" accesskey="${tipo}">
							<option style="color: blue;" value="0">Selecione o Tipo</option>
							<option value=1>Administrador</option>
							<option value=2>Advogado Interno</option>
							<option value=3>Correspondente</option>
							<option value=4>Assis. Adminsitravo</option>
						</select>
					</div>

					<div class="form-group " id="cor1">
						<label for="sel1">Selecione um Correspondente:</label>
						<select name="idcorrespondente" class="form-control" id="sel2" onChange="copia();">
							<option value="0">SELECIONE UM CORRESPONDENTE.</option>
							<option th:object="${corr}" th:each="cor: ${corr}"
								th:value=${cor.idcorrespondente} th:text=${cor.nome}></option>
						</select>
					</div>


					<p>
					<label for="tipo">Nome do Usuário:</label> <input type="text"
						name="nomecompleto" th:text="${nomecompleto}" required="Nome requerido"
						onkeyup="this.value = this.value.toUpperCase();"
						class="form-control input-sm uppercase" id="nome"> <label
						for="nome">Login:</label> <input type="text" name="login" required="Login requerido"
						onkeyup="this.value = this.value.toLowerCase();"
						class="form-control input-sm uppercase" id="login"> <label
						for="nome">E-Mail:</label> <input type="email" name="emailprincipal"
						onkeyup="this.value = this.value.toLowerCase();" required=""
						class="form-control input-sm uppercase" id="email"> <label
						for="nome">Senha:</label> <input type="password" name="senha"
						onkeyup="this.value = this.value.toLowerCase();" required=""
						class="form-control input-sm uppercase" id="senha"> <label
						for="nome">Confirma Senha:</label> <input type="password"
						name="senha" onkeyup="this.value = this.value.toLowerCase();" required=""
						class="form-control input-sm uppercase">

					<p >
					<div>

						<button type="submit" class="btn btn-success">Salvar</button>
						<a class="btn btn-info" th:href="@{/usuarios}">Sair</a>
					</div>
				</div>

			</form>

		</div>


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/libfuncoes.js}"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</body>

</html>